USE [master]
GO
/****** Object:  Database [TestSQL]    Script Date: 13-Mar-24 18:15:33 ******/
CREATE DATABASE [TestSQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestSQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\TestSQL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestSQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\TestSQL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestSQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestSQL]
GO
/****** Object:  Table [dbo].[BuoiHoc]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuoiHoc](
	[MaBH] [varchar](10) NOT NULL,
	[MaLH] [varchar](15) NOT NULL,
	[MaPH] [varchar](10) NULL,
	[IdMPH] [uniqueidentifier] NULL,
	[ThoiGian_BD] [datetime] NOT NULL,
	[ThoiGian_KT] [datetime] NOT NULL,
	[HinhThuc] [nvarchar](20) NULL,
	[_CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_BuoiHoc] PRIMARY KEY CLUSTERED 
(
	[MaBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapPhepMPH]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapPhepMPH](
	[MaCP] [varchar](10) NOT NULL,
	[MaPH] [varchar](10) NOT NULL,
	[IdMPH] [uniqueidentifier] NULL,
	[IdQL_Duyet] [uniqueidentifier] NOT NULL,
	[ThoiGian_BD] [datetime] NOT NULL,
	[ThoiGian_KT] [datetime] NOT NULL,
	[LyDo] [nvarchar](50) NOT NULL,
	[_CreateAt] [datetime] NOT NULL,
	[_DeleteAt] [datetime] NULL,
 CONSTRAINT [PK_CapPhepMPH] PRIMARY KEY CLUSTERED 
(
	[MaCP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiBuoiHoc]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiBuoiHoc](
	[MaDBH] [varchar](10) NOT NULL,
	[MaLH] [varchar](15) NOT NULL,
	[MaPH] [varchar](10) NOT NULL,
	[IdTaiKhoan_MPH] [uniqueidentifier] NOT NULL,
	[IdQL_Duyet] [uniqueidentifier] NOT NULL,
	[ThoiGian_BD] [datetime] NOT NULL,
	[ThoiGian_KT] [datetime] NOT NULL,
	[HinhThuc] [nvarchar](20) NULL,
	[YeuCau] [nvarchar](50) NULL,
	[LyDo] [nvarchar](50) NOT NULL,
	[_CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_DoiBuoiHoc] PRIMARY KEY CLUSTERED 
(
	[MaDBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DsMPH]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DsMPH](
	[MaLH] [varchar](15) NOT NULL,
	[IdTaiKhoan_MPH] [uniqueidentifier] NOT NULL,
	[_UpdateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Ds_MPH] PRIMARY KEY CLUSTERED 
(
	[MaLH] ASC,
	[IdTaiKhoan_MPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[IdGV] [uniqueidentifier] NOT NULL,
	[IdTaiKhoan] [uniqueidentifier] NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[Email] [varchar](255) NULL,
	[SDT] [char](12) NULL,
	[MaGV] [varchar](20) NULL,
	[ChucDanh] [nvarchar](30) NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[IdGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLH] [varchar](15) NOT NULL,
	[IdGV_GiangDay] [uniqueidentifier] NOT NULL,
	[MaMH] [varchar](15) NOT NULL,
	[MaLopSV] [varchar](20) NOT NULL,
	[Ngay_BD] [date] NULL,
	[Ngay_KT] [date] NULL,
	[_CreateAt] [datetime] NOT NULL,
	[_DeleteAt] [datetime] NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[MaLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopSV]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopSV](
	[MaLopSV] [varchar](20) NOT NULL,
	[LopSV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LopSV] PRIMARY KEY CLUSTERED 
(
	[MaLopSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [varchar](15) NOT NULL,
	[TenMH] [nvarchar](50) NOT NULL,
	[_UpdateAt] [datetime] NOT NULL,
	[_DeleteAt] [datetime] NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuonPhongHoc]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuonPhongHoc](
	[IdMPH] [uniqueidentifier] NOT NULL,
	[IdTaiKhoan_MPH] [uniqueidentifier] NOT NULL,
	[IdQL_Duyet] [uniqueidentifier] NOT NULL,
	[YeuCau] [nvarchar](50) NULL,
	[_CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_MuonPhongHoc] PRIMARY KEY CLUSTERED 
(
	[IdMPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[MaPH] [varchar](10) NOT NULL,
	[TinhTrang] [nvarchar](20) NOT NULL,
	[_UpdateAt] [datetime] NOT NULL,
	[_DeleteAt] [datetime] NULL,
 CONSTRAINT [PK_PhongHoc] PRIMARY KEY CLUSTERED 
(
	[MaPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLy]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLy](
	[IdQL] [uniqueidentifier] NOT NULL,
	[IdTaiKhoan] [uniqueidentifier] NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[Email] [varchar](255) NULL,
	[SDT] [char](12) NULL,
 CONSTRAINT [PK_QuanLy] PRIMARY KEY CLUSTERED 
(
	[IdQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[IdSV] [uniqueidentifier] NOT NULL,
	[IdTaiKhoan] [uniqueidentifier] NULL,
	[MaLopSV] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[Email] [varchar](255) NULL,
	[SDT] [char](12) NULL,
	[MaSV] [varchar](20) NULL,
	[ChucVu] [nvarchar](30) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[IdSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IdTaiKhoan] [uniqueidentifier] NOT NULL,
	[IdVaiTro] [uniqueidentifier] NOT NULL,
	[TenDangNhap] [varchar](30) NOT NULL,
	[Email] [varchar](255) NULL,
	[MatKhau] [varchar](30) NOT NULL,
	[_CreateAt] [datetime] NULL,
	[_UpdateAt] [datetime] NULL,
	[_DeleteAt] [datetime] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IdTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOneTime]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOneTime](
	[IdUserOneTime] [uniqueidentifier] NOT NULL,
	[IdTaiKhoan] [uniqueidentifier] NULL,
	[IdQL_Duyet] [uniqueidentifier] NOT NULL,
	[MinhChung] [varchar](2083) NULL,
	[LyDo] [nvarchar](50) NOT NULL,
	[_CreateAt] [datetime] NOT NULL,
	[_UsedAt] [datetime] NULL,
	[_ExpireAt] [datetime] NOT NULL,
 CONSTRAINT [PK_UserOneTime] PRIMARY KEY CLUSTERED 
(
	[IdUserOneTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 13-Mar-24 18:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[IdVaiTro] [uniqueidentifier] NOT NULL,
	[VaiTro] [nvarchar](20) NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[IdVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BuoiHoc]  WITH CHECK ADD  CONSTRAINT [FK_BuoiHoc_LopHoc] FOREIGN KEY([MaLH])
REFERENCES [dbo].[LopHoc] ([MaLH])
GO
ALTER TABLE [dbo].[BuoiHoc] CHECK CONSTRAINT [FK_BuoiHoc_LopHoc]
GO
ALTER TABLE [dbo].[BuoiHoc]  WITH CHECK ADD  CONSTRAINT [FK_BuoiHoc_MuonPhongHoc] FOREIGN KEY([IdMPH])
REFERENCES [dbo].[MuonPhongHoc] ([IdMPH])
GO
ALTER TABLE [dbo].[BuoiHoc] CHECK CONSTRAINT [FK_BuoiHoc_MuonPhongHoc]
GO
ALTER TABLE [dbo].[BuoiHoc]  WITH CHECK ADD  CONSTRAINT [FK_BuoiHoc_PhongHoc] FOREIGN KEY([MaPH])
REFERENCES [dbo].[PhongHoc] ([MaPH])
GO
ALTER TABLE [dbo].[BuoiHoc] CHECK CONSTRAINT [FK_BuoiHoc_PhongHoc]
GO
ALTER TABLE [dbo].[CapPhepMPH]  WITH CHECK ADD  CONSTRAINT [FK_CapPhepMPH_MuonPhongHoc] FOREIGN KEY([IdMPH])
REFERENCES [dbo].[MuonPhongHoc] ([IdMPH])
GO
ALTER TABLE [dbo].[CapPhepMPH] CHECK CONSTRAINT [FK_CapPhepMPH_MuonPhongHoc]
GO
ALTER TABLE [dbo].[CapPhepMPH]  WITH CHECK ADD  CONSTRAINT [FK_CapPhepMPH_PhongHoc] FOREIGN KEY([MaPH])
REFERENCES [dbo].[PhongHoc] ([MaPH])
GO
ALTER TABLE [dbo].[CapPhepMPH] CHECK CONSTRAINT [FK_CapPhepMPH_PhongHoc]
GO
ALTER TABLE [dbo].[CapPhepMPH]  WITH CHECK ADD  CONSTRAINT [FK_CapPhepMPH_QuanLy] FOREIGN KEY([IdQL_Duyet])
REFERENCES [dbo].[QuanLy] ([IdQL])
GO
ALTER TABLE [dbo].[CapPhepMPH] CHECK CONSTRAINT [FK_CapPhepMPH_QuanLy]
GO
ALTER TABLE [dbo].[DoiBuoiHoc]  WITH CHECK ADD  CONSTRAINT [FK_DoiBuoiHoc_LopHoc] FOREIGN KEY([MaLH])
REFERENCES [dbo].[LopHoc] ([MaLH])
GO
ALTER TABLE [dbo].[DoiBuoiHoc] CHECK CONSTRAINT [FK_DoiBuoiHoc_LopHoc]
GO
ALTER TABLE [dbo].[DoiBuoiHoc]  WITH CHECK ADD  CONSTRAINT [FK_DoiBuoiHoc_PhongHoc] FOREIGN KEY([MaPH])
REFERENCES [dbo].[PhongHoc] ([MaPH])
GO
ALTER TABLE [dbo].[DoiBuoiHoc] CHECK CONSTRAINT [FK_DoiBuoiHoc_PhongHoc]
GO
ALTER TABLE [dbo].[DoiBuoiHoc]  WITH CHECK ADD  CONSTRAINT [FK_DoiBuoiHoc_QuanLy] FOREIGN KEY([IdQL_Duyet])
REFERENCES [dbo].[QuanLy] ([IdQL])
GO
ALTER TABLE [dbo].[DoiBuoiHoc] CHECK CONSTRAINT [FK_DoiBuoiHoc_QuanLy]
GO
ALTER TABLE [dbo].[DoiBuoiHoc]  WITH CHECK ADD  CONSTRAINT [FK_DoiBuoiHoc_TaiKhoan] FOREIGN KEY([IdTaiKhoan_MPH])
REFERENCES [dbo].[TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [dbo].[DoiBuoiHoc] CHECK CONSTRAINT [FK_DoiBuoiHoc_TaiKhoan]
GO
ALTER TABLE [dbo].[DsMPH]  WITH CHECK ADD  CONSTRAINT [FK_DsMPH_LopHoc] FOREIGN KEY([MaLH])
REFERENCES [dbo].[LopHoc] ([MaLH])
GO
ALTER TABLE [dbo].[DsMPH] CHECK CONSTRAINT [FK_DsMPH_LopHoc]
GO
ALTER TABLE [dbo].[DsMPH]  WITH CHECK ADD  CONSTRAINT [FK_DsMPH_TaiKhoan] FOREIGN KEY([IdTaiKhoan_MPH])
REFERENCES [dbo].[TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [dbo].[DsMPH] CHECK CONSTRAINT [FK_DsMPH_TaiKhoan]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_TaiKhoan] FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_TaiKhoan]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc__GiangVien] FOREIGN KEY([IdGV_GiangDay])
REFERENCES [dbo].[GiangVien] ([IdGV])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc__GiangVien]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_LopSV] FOREIGN KEY([MaLopSV])
REFERENCES [dbo].[LopSV] ([MaLopSV])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_LopSV]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_MonHoc] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_MonHoc]
GO
ALTER TABLE [dbo].[MuonPhongHoc]  WITH CHECK ADD  CONSTRAINT [FK_MuonPhongHoc_QuanLy] FOREIGN KEY([IdQL_Duyet])
REFERENCES [dbo].[QuanLy] ([IdQL])
GO
ALTER TABLE [dbo].[MuonPhongHoc] CHECK CONSTRAINT [FK_MuonPhongHoc_QuanLy]
GO
ALTER TABLE [dbo].[MuonPhongHoc]  WITH CHECK ADD  CONSTRAINT [FK_MuonPhongHoc_TaiKhoan] FOREIGN KEY([IdTaiKhoan_MPH])
REFERENCES [dbo].[TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [dbo].[MuonPhongHoc] CHECK CONSTRAINT [FK_MuonPhongHoc_TaiKhoan]
GO
ALTER TABLE [dbo].[QuanLy]  WITH CHECK ADD  CONSTRAINT [FK_QuanLy_TaiKhoan] FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [dbo].[QuanLy] CHECK CONSTRAINT [FK_QuanLy_TaiKhoan]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_LopSV] FOREIGN KEY([MaLopSV])
REFERENCES [dbo].[LopSV] ([MaLopSV])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_LopSV]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_TaiKhoan] FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_TaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_VaiTro] FOREIGN KEY([IdVaiTro])
REFERENCES [dbo].[VaiTro] ([IdVaiTro])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_VaiTro]
GO
ALTER TABLE [dbo].[UserOneTime]  WITH CHECK ADD  CONSTRAINT [FK_UserOneTime_QuanLy] FOREIGN KEY([IdQL_Duyet])
REFERENCES [dbo].[QuanLy] ([IdQL])
GO
ALTER TABLE [dbo].[UserOneTime] CHECK CONSTRAINT [FK_UserOneTime_QuanLy]
GO
ALTER TABLE [dbo].[UserOneTime]  WITH CHECK ADD  CONSTRAINT [FK_UserOneTime_TaiKhoan] FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [dbo].[UserOneTime] CHECK CONSTRAINT [FK_UserOneTime_TaiKhoan]
GO
USE [master]
GO
