@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&family=Roboto:wght@300;400;500;700&display=swap');
/* html custom */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
*.hidden {
    display: none;
}
:root {
    --bg-color: #f1dc9c;
    --second-bg-color: #fcf0cf; 
    --text-color: #555453;
    --text-box-color: #fcdec9;
    --main-color: #f3e0a7;
    --main-box-color: rgba(0, 0, 0, .7);
    --content-box-color: #b9b4a3;
    --admin-menu-color: #e9b4b4;
    --manager-menu-color: #ffda72;
    --regular-menu-color: #87e9e9;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 100vh;
    background: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}
/* boardBar design */
nav {
    background: var(--bg-color);
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px black;
    padding: 1.5rem 4rem;
    gap: 4rem;
    overflow: hidden;

    a {
        background: transparent;
        font-weight: 500;
        color: var(--text-color);
        cursor: pointer;
    }
    h2 {
        flex-grow: 1;
        margin: 0 2rem;
    }
    button {
        background: transparent;
        font-weight: 500;
        color: var(--text-color);
        cursor: pointer;
    }
}
nav.menu-manager {
    background: var(--manager-menu-color);
}
nav.menu-regular {
    background: var(--regular-menu-color);
}
nav.menu-admin {
    background: var(--admin-menu-color);
}
/* boardContent design */
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        max-width: 100rem;
        min-width: 50rem;
        height: 90%;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        border: .2rem solid var(--main-box-color);
        border-radius: 2.5rem;
        box-shadow: 1px 1px 2px black;
        overflow: hidden;

        legend {
            align-self: center;
            padding-bottom: 2rem;
        }
        label {
            width: 100%;
            height: 100%;
            display: flex; 
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            input,
            select {
                flex-grow: 1;
                text-align: end;
                border-right: .2rem solid var(--main-box-color);
                border-bottom: .3rem solid var(--main-box-color);
                border-radius: 1rem;
                padding: 1rem;
                opacity: .7;
            }
            input:disabled,
            select:disabled {
                background: transparent;
                border: none;
                opacity: 1;
            }
        }
        label.XacNhan {
            width: 80%;
            align-self: center;
            font-weight: 700;

            input {
                box-shadow: .1rem 0 .7rem var(--main-box-color);
                font-weight: 700;
                transition: 2s;
            }
            input:valid {
                background-color: var(--text-color);
            }
        }
        div {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: .4rem;
            gap: 3rem;
        }
        button {
            cursor: pointer;
            border: .2rem solid black;
            border-radius: .5rem;
            padding: .4rem;
            transition: .1s;
        }
        button:hover {
            background-color: var(--text-box-color);
            border-radius: 1rem;
        }
    }
}
@media only screen and ( width <= 768px) {/* Small devices (portrait tablets and large phones, 600px and up to 768px) */
    /* media boardBar design */
    nav {
        a,
        button {
            font-size: 1.7rem;
        }
        h2 {
            font-size: 2rem;
        }
    } 
    /* media boardContent design */
    main form {
        padding: 6rem 4rem;

        legend{
            font-size: 2.5rem;
        }
        label {
            font-size: 2rem;

            input,
            button,
            select {
                font-size: 1.7rem;
            }
        }
        button {
            font-size: 2rem;
        }
    } 
}
@media only screen and ( 768px < width ) {/* Medium devices (landscape tablets, 768px and up) */
    /* media boardBar design */
    nav {
        a,
        button {
            font-size: 2rem;
        }
        h2 {
            font-size: 2.2rem;
        }
    } 
    /* media boardContent design */
    main form {
        padding: 6rem 12rem;

        legend {
            font-size: 3rem;
        }
        label {
            font-size: 2.2rem;

            input,
            button,
            select {
                font-size: 2rem;
            }
        }
        button {
            font-size: 2.2rem;
        }
    }
}